* {
    padding: 0px;
    margin: 0px;

}

body {
    background-image: url('../Images/Background.png');
    background-size: cover;
}

#wrapper {
    background-color: #c2e4c5;
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
    min-height: 95vh;
    padding-top: 5vh;
}

#foreground {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

button,
input {
    background-color: #c2e4c5;
    color: #606060;
    border-style: groove;
    border-color: #606060;
    border-radius: 5px;
    width: 30%;
    height: 30px;
}

button,
select {
    cursor: pointer;
}

input {
    cursor: text;
}

.uredjaj,
.lozinka-unos,
#novi-uredjaj {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
}

h2 {
    margin-bottom: 2%;
    font-size: xx-large;
}

h2 {
    font-family: monospace;
    color: #606060;
    text-align: center;
}

h5 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #606060;
    font-size: medium;
}

#promijeni-lozinku,
#button-zaboravi {
    margin-left: calc(50% - 15%);
}

#button-zaboravi {
    margin-top: 2%;
}

#lozinka,
#zaboravi-wifi {
    margin-top: 8%;
}

#zaboravi-wifi h5 {
    text-align: center;
}

#lozinka h5,
#lozinka input {
    display: inline;
}

button:hover,
input:hover {
    background-color: #607261;
    color: #000000;
}

input:focus {
    background-color: #607261;
    color: #000000;
}

@media screen and (max-width: 800px) {
    body {
        overflow-y: hidden;
    }

    .uredjaj h5 {
        font-size: x-large;
    }

    #wrapper {
        width: 80vw;
        height: 80vh;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20vh;
    }

    #promijeni-lozinku,
    #button-zaboravi,
    #dodaj-uredjaj {
        width: 80%;
        margin-left: 10%;
    }

    .uredjaj,
    .lozinka-unos,
    #novi-uredjaj {
        flex-wrap: wrap;
    }

    .novi-uredjaj {
        margin-bottom: 5px;
    }

    button {
        width: 50%;
        height: 30px;
    }

    input {
        width: 100%;
        height: 30px;
    }
}